* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #0c111b;
    position: relative;
    font-family: roboto, sans-serif;
}

.navbar {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;

}

.nav-links {
    margin-top: 10px;
    display: flex;
    list-style: none;

}

.nav-items a {
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;

}

.rightcontainer {
    display: block;
    margin-left: auto;

}

.searchbox {
    border: none;
    border-bottom: 1px solid #aaa;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 220px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 16px;
    transition: .5s;

}

.searchbox:focus {
    width: 250px;
    border-color: #1f80e0;
}

.sub-btn {
    background-color: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin: 0 10px;
}

.login {
    color: #fff;
    opacity: 0.9;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;

}

.dcontainer {
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px;
    overflow-x: hidden;
    margin-top: 80px;
}

.d {
    display: flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slider {
    flex: 0 0 auto;
    background-image: url("images/loki.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30px;
    position: relative;
    background: rgbs(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition: 1s;
    overflow: hidden;
}

.slider img {
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;

}

.slide-content {
    position: absolute;
    background: transparent ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    z-index: 2;
    background: linear-gradient(to right, #030b17 0%, #0c111b00);
    color: #fff;
}

.movietitle {
    width: 90%;
    line-height: 30px;
}
.movie-des{
text-align: left;
width: 90%;
line-height: 30px;
padding-left: 9px;
margin-top: 60px;
opacity: 0.8;
}

.video-card-container{
    position: relative;
    width: 92%;
    margin: auto;
    height: 10vw;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}
/* 
.video-card{
    position: relative;
    min-width: calc(100%/2 - 10px);
    width: calc(100%/2 - 10px);
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #0c111b00;
    
}

.video-card-image,
.card-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-video{
    position: relative;
}

.video-card:hover .video-card-image{
    display: none;
} */

.video-card-selector{
    width: 100%;
    /* height: 600px; */
    height: 38vw;
    /* background-color: #1f80e0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.video-card-wrapper{
    width: 99%;
    height: 15%;
    /* background-color: azure; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 58px;
}

.video-card{
    width: 10%;
    height: 80%;
    /* background-color: rebeccapurple; */
    /* margin-left: 17px; */
}

.video-card-video-wrapper{
    width: 57%;
    height: 77%;
    /* background-color: burlywood; */
}

.card-vi{
    width: 100%;
    height: 100%;
    /* background-color: chartreuse; */
    object-fit: cover;
    display: none;    
}